body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#board{
    border: black solid 3px;
    width: 700px;
    height: 700px;
}

#board>div{
    display: flex;
}
.square{
    border: black solid 1px;
    box-sizing: border-box;
}